<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated modelo -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="modelo.presentation.ModeloModelWizardID"
            name="%_UI_ModeloModelWizard_label"
            class="modelo.presentation.ModeloModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModeloModelFile.gif">
         <description>%_UI_ModeloModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated modelo -->
      <editor
            id="modelo.presentation.ModeloEditorID"
            name="%_UI_ModeloEditor_label"
            icon="icons/full/obj16/ModeloModelFile.gif"
            extensions="modelo"
            class="modelo.presentation.ModeloEditor"
            contributorClass="modelo.presentation.ModeloActionBarContributor">
      </editor>
   </extension>

</plugin>
