*.aux
*.log
*.log
*.aux

*.log

*.gz

*.bak

*.aux
MyLatexFiles/short paper (edbt)/paper-main.pdf
MyLatexFiles/short paper (edbt)/paper-main.pdf

Algorithm/Test results/~$tests version 3.xlsx
MyLatexFiles/ADBIS 2016/main.pdf
