<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelo -->
      <package
            uri="http://www.example.org/modelo"
            class="modelo.ModeloPackage"
            genModel="model/modelo.genmodel"/>
   </extension>

</plugin>
